.ig-card {
  --borderColor: light-dark(#e1e8ed, var(--trans-pink-dark));
  --borderHover: #ccd6dd;
  --textLight: #697882;
  --textDark: light-dark(#1c2022, #b4d0dd);
  --textHover: #3b94d9;
  --borderRadius: .35em;
  --avatarSize: 40px;

  display: block;
  background: var(--surface-1);
  padding: var(--spacing);
  font-size: var(--font-size-sm);
  /* line-height:17px; */
  color: light-dark(#1c2022, #b4d0dd);
  font-family: Roboto, Helvetica, Arial,sans-serif;
  text-decoration:none;

  .ig-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ig-avatar {
      background-color: #F4F4F4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      flex-grow: 0;
      width: var(--avatarSize);
      height: var(--avatarSize);
      margin: 0 var(--spacing) 0 0;

      color-adjust: exact;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .ig-name {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-items: flex-start;
      font-weight: var(--font-weight-medium);
      line-height: 1.2;

      strong {
        font-weight: var(--font-weight-bold);
      }
    }

    .ig-logo {
      width: 30px;
      height: 30px;
    }
  }

  .ig-image {
    margin: 10px 0;
    border-radius: 5px;
  }

  .ig-caption {
    font-size: 14px;
    font-weight: 400;
    word-wrap:break-word;
    margin: 0;
  }

  .ig-footer {
    color:#c9c8cd;
    font-size: 10px;
    line-height: 1;
    overflow:hidden;
    padding:6px 0 0 0;
    margin: 0;
    text-overflow:ellipsis;
    text-transform: uppercase;
  }
}
