
.ui-disclaimer {
  background-color: light-dark(var(--grey-000), var(--alpha-white-050));
  border-bottom: 1px solid light-dark(var(--alpha-black-200), var(--alpha-white-200));
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);

  &.ui-disclaimer p {
    margin: 0;
  }

  & strong {
    fontWeight: var(--font-weight-regular);
  }
}