
.ui-card {
  overflow: hidden;
}

.ui-card-content {
  word-wrap: 'break-word';
  padding: var(--spacing-2);

  &:last-child {
    padding-bottom: var(--spacing-3);
  }
}

.ui-card-actions {
  padding: var(--spacing);
}

.ui-card-action-area {
  display: block;
  text-align: inherit;
  border-radius: inherit;
  width: 100%;

  &>.ui-card-action-area-focus {
    transition: opacity var(--transition-duration-short) var(--transition-ease-in-out);
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: currentcolor;
  }

  &:hover .ui-card-action-area-focus {
    opacity: var(--action-hover-opacity);
    @media (hover: none) {
      opacity: 0;
    }
  }
}

.ui-card-header {
  padding: var(--spacing-2);
  display: flex;
  align-items: center;

  &>.ui-card-header-avatar {
    display: flex;
    flex: 0 0 auto;
    margin-right: var(--spacing-2);
  }

  &>.ui-card-header-action {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: calc(val(--spacing) * -0.5);
    margin-right: calc(val(--spacing) * -1);
    margin-bottom: calc(val(--spacing) * 0.5);
  }

  &>.ui-card-header-content {
    flex: 1 1 auto;
  }
}

.ui-card-media {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.ui-card-media--media {
    width: 100%;
  }

  &.ui-card-media--image {
    object-fit: cover;
  }
}