:root {
  --action-active: light-dark(rgb(0, 0, 0 / 0.54), white);

  --action-hover-opacity-light: 4%;
  --action-hover-opacity-dark: 8%;
  --action-hover: light-dark(
      rgb(0, 0, 0 / var(--action-hover-opacity-light)),
      rgb(255, 255, 255 / var(--action-hover-opacity-dark))
    );

  --action-selected-opacity-light: 16%;
  --action-selected-opacity-dark: 24%;
  --action-selected: light-dark(
    rgb(0, 0, 0 / var(--action-selected-opacity-light)),
    rgb(255, 255, 255 / var(--action-selected-opacity-dark))
  );

  --action-disabled: light-dark(rgba(0, 0, 0, 0.26), rgba(255, 255, 255, 0.3));
  --action-disabled-background: light-dark(rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  --action-disabled-opacity: 0.38;

  --action-focus: light-dark(rgba(0, 0, 0, 0.12), rgba(255, 255, 255, 0.12));
  --action-focus-opacity: 0.12;
  --action-activated-opacity: light-dark(0.12, 0.24);

}