
$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

:root {
  --breakpoint-xs: $breakpoint-xs;
  --breakpoint-sm: $breakpoint-sm;
  --breakpoint-md: $breakpoint-md;
  --breakpoint-lg: $breakpoint-lg;
  --breakpoint-xl: $breakpoint-xl;
}
